DATABASE_URL="postgresql://postgres:postgres@localhost:5432/restoflow?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=4000
JWT_SECRET="your-jwt-secret-min-32-chars-change-me"
JWT_REFRESH_SECRET="your-refresh-secret-min-32-chars-change-me"
CLIENT_URL="http://localhost:3000"
